{% extends "base.html" %}

{% block head_title %}Wallets || {{block.super}}{% endblock head_title %}
{% block head_content %}

{% endblock head_content %}

{% block bottomcontent %}

{% if private_wallets.count == 1 %}
    <div>
        <h1>My Wallet</h1>
    </div>
        <h1>My Wallet</h1> Dodać przycisk stwórz portfel
{% elif private_wallets.count > 1 %}
    <div>
        <h1>My Wallets</h1>
    </div>
     Dodać przycisk stwórz portfel
{% endif %}

{% if private_wallets.count > 0 %}
    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr>
                <th class="col-2 text-center">Nazwa</th>
                <th class="col-2 text-center">Właściciel</th>
                <th class="col-2 text-center">Zysk/Strata</th>
                <th class="col-3 text-center">Komentarz</th>
                <th class="col-3 text-center">Data ostatniej operacji</th>
            </tr>
        </thead>
        <tbody>
            {% for wallet in private_wallets %}
                {% if wallet.total_profit >= 0 %}
                    <tr class="table-success">
                {% elif wallet.total_profit <= 0 %}
                    <tr class="table-danger">
                {% endif %}
                    <th scope="row" class="text-center"><a href="{% url 'stock_wallet:wallet_detail' slug=wallet.slug %}">{{ wallet.name }}</a></th>
                    <td class="text-center">{{ wallet.user }}</td>
                    <td class="text-center">{{ wallet.total_profit|floatformat:2 }}</td>
                    <td class="text-center">{{ wallet.comment }}</td>
                    <td class="text-center">{{ wallet.created_at }}</td>
                </tr>
    <!--            <li><a href="{% url 'stock_wallet:wallet_detail' slug=wallet.slug %}">{{ wallet.name }}</a> {{wallet.id}}</li>-->
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if object_list.count >= 1 %}
    <h1>Public Wallets</h1>
    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr >
                <th class="col-2 text-center">Nazwa</th>
                <th class="col-2 text-center">Właściciel</th>
                <th class="col-2 text-center">Zysk/Strata</th>
                <th class="col-3 text-center">Komentarz</th>
                <th class="col-3 text-center">Data ostatniej operacji</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                {% if obj.total_profit >= 0 %}
                    <tr class="table-success">
                {% elif obj.total_profit <= 0 %}
                    <tr class="table-danger">
                {% endif %}
                        <th scope="row"  class="text-center"><a href="{% url 'stock_wallet:wallet_detail' slug=obj.slug %}">{{ obj.name }}</a></th>
                        <td  class="text-center">{{ obj.user }}</td>
                        <td  class="text-center">{{ obj.total_profit|floatformat:2 }}</td>
                        <td  class="text-center">{{ obj.comment }}</td>
                        <td  class="text-center">{{ obj.created_at }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<!--<ul>-->
<!--    {% for obj in object_list %}-->
<!--    <h5><a href="/attractions/{{obj.category|lower}}/{{obj.slug}}">{{ obj.name }} </a><small> {{ obj.category }}</small></h5>-->
<!--    {% endfor %}-->

<!--</ul>-->

{% endblock bottomcontent %}