{% extends "base.html" %}

{% block head_title %}Wallets || {{block.super}}{% endblock head_title %}
{% block head_content %}

{% endblock head_content %}

{% block bottomcontent %}
<div class="container-fluid mt-3" style="min-height: 800px;">
    <h4>{{ object.name }} <span class="desc">,Profit:
        {% if object.total_profit >= 0 %}
            <strong class="sucessProfit">{{ object.total_profit|floatformat:2 }} PLN</strong>
        {% else %}
            <strong class="failProfit">{{ object.total_profit|floatformat:2 }} PLN</strong>
        {% endif %}
    </span></h4>

    <div class="walletDateIndex">Wallet created at: {{ object.created_at }}, Last update at: {{ object.updated_at }}</div>

</div>
{% endblock bottomcontent %}