{% extends "base.html" %}

{% block head_title %}Wallets || {{block.super}}{% endblock head_title %}
{% block head_content %}

{% endblock head_content %}

{% block bottomcontent %}

<div class="get-quote">
    <div class="row">
        <div class="col-md-12 d-flex">
            {% if private_wallets.count == 1 %}
                <h1 >My Wallet</h1>
            {% elif private_wallets.count > 1 %}
                <h1 >My Wallets</h1>
            {% endif %}
            {% if user.is_authenticated %}
                <a href="{% url 'stock_wallet:create_wallet' %}" class="btn btn-primary mr-auto btn-sm ml-5 my-3" role="button">
                    Create Wallet</a>
            {% else %}
                <div class="form-group ml-3">
                    <a href="{% url 'account:login' %}" class="btn btn-primary btn-sm my-3" role="button">
                        Logowanie </a>
                    <a class="btn btn-primary btn-sm my-3 unstyled-button"><h6> || </h6></a>
                    <a href="{% url 'account:register' %}" class="btn btn-primary btn-sm my-3" role="button">
                        Rejestracja </a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% if private_wallets.count > 0 %}
    <table class="table table-bordered table-sm">
        <thead class="table-secondary">
            <tr>
                <th class="text-center">Nazwa</th>
                <th class="text-center">Właściciel</th>
                <th class="text-center">Zysk/Strata</th>
                <th class="text-center">Komentarz</th>
                <th class="text-center">Data ostatniej operacji</th>
            </tr>
        </thead>
        <tbody>
            {% for wallet in private_wallets %}
                {% if wallet.total_profit >= 0 %}
                    <tr class="table-success">
                {% elif wallet.total_profit <= 0 %}
                    <tr class="table-danger">
                {% endif %}
                    <th scope="row" class="text-center"><a href="{% url 'stock_wallet:wallet_detail' slug=wallet.slug %}">{{ wallet.name }}</a></th>
                    <td class="text-center">{{ wallet.user }}</td>
                    <td class="text-center">{{ wallet.total_profit|floatformat:2 }}</td>
                    <td class="text-center">{{ wallet.comment }}</td>
                    <td class="text-center">{{ wallet.created_at }}</td>
                </tr>
    <!--            <li><a href="{% url 'stock_wallet:wallet_detail' slug=wallet.slug %}">{{ wallet.name }}</a> {{wallet.id}}</li>-->
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if object_list.count >= 1 %}
    <h1>Public Wallets</h1>
    <table class="table table-bordered">
        <thead class="table-secondary">
            <tr >
                <th class="text-center">Nazwa</th>
                <th class="text-center">Właściciel</th>
                <th class="text-center">Zysk/Strata</th>
                <th class="text-center">Komentarz</th>
                <th class="text-center">Data ostatniej operacji</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in object_list %}
                {% if obj.total_profit >= 0 %}
                    <tr class="table-success">
                {% elif obj.total_profit <= 0 %}
                    <tr class="table-danger">
                {% endif %}
                        <th scope="row"  class="text-center"><a href="{% url 'stock_wallet:wallet_detail' slug=obj.slug %}">{{ obj.name }}</a></th>
                        <td  class="text-center">{{ obj.user }}</td>
                        <td  class="text-center">{{ obj.total_profit|floatformat:2 }}</td>
                        <td  class="text-center">{{ obj.comment }}</td>
                        <td  class="text-center">{{ obj.created_at }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

<!--<ul>-->
<!--    {% for obj in object_list %}-->
<!--    <h5><a href="/attractions/{{obj.category|lower}}/{{obj.slug}}">{{ obj.name }} </a><small> {{ obj.category }}</small></h5>-->
<!--    {% endfor %}-->

<!--</ul>-->

{% endblock bottomcontent %}