{% extends "account_base.html" %}

{% block head_title %}Wylogowanie || {{block.super}}{% endblock head_title %}
{% block head_content %}

{% endblock head_content %}
{% block content %}
<fieldset class="form-group">
        <legend class="border-bottom mb-4">Zresetuj Swoje Hasło</legend>
</fieldset>
    <p>Wysłaliśmy do Ciebie wiadomość email z instrukcją pozwalającą na ustawienie nowego hasła,
                    jeżeli istnieje konto o podanym adresie email. Powinieneś je wkrótce otrzymać.</p>

    <p>Jeżeli nie otrzymasz wiadomości email, upewnij się, że podałeś poprawny adres email
                    na którym się zarejestrowałeś i sprawdż folder ze spamem.</p>
<div class="border-top pt-3">
    <p class="text-muted">Przejdź na stronę główną<a class="ml-2" href="{% url 'home' %}">Klikając Tu</a></p>
</div>
{% endblock content %}