<!doctype html>
<html lang="pl">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% include 'snippets/css.html' %}

    <title>{% block head_title %}StockGame{% endblock head_title %}</title>

    {% block head_content %} {% endblock head_content %}
</head>
<body>
{% include "snippets/nav.html" %}

<div class="container-fluid">
    {% block infocontent %}

    {% endblock infocontent %}
    <div class="row no-gutters">
        <div class="col-12 col-lg-4 order-1">
            <div class="alert alert-primary" role="alert" style="min-height: 10px;">
                <h1 >Informations content</h1>
            {% block topcontent %}

            {% endblock topcontent %}
            </div>
        </div>
        <div class="col-12 col-lg-8 order-6">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{message.tags}}">
                        {{ message }}
                    </div>
                {% endfor%}
            {% endif%}
            {% block bottomcontent %}

            {% endblock bottomcontent %}
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{% include 'snippets/js.html' %}
</body>
</html>